<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>proyecto grupal</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/menuUniverso.css' %}">

</head>
<body background="https://pbs.twimg.com/media/E9rjk3TXMAYvyNY.jpg:large">
<body>

<h1><center>IECED GASTROCLINICA</center></h1>

<nav class="menuCSS3">
		<ul>
			<li><a href="{% url 'core' %}">Inicio</a></li>

			<li><a href="{% url 'nosotros' %}">Quienes Somos </a></li>
			<li><a href="{% url 'productos' %}">Productos</a>
			<li><a href="{% url 'contactanos' %}">Contactanos</a>
					</ul>
			</li>
		</ul>
	</nav>


<br>
<br>
<br>

<h2><center>
	El IECED es un instituto comprometido con la excelencia,
	el respeto y trato digno de cada persona.
	El Centro más avanzado de Latinoamérica en gastroenterologia
	</center></br>
</h2>



</body>
 </html>